NODE_ENV=production
PORT=4002
SERVICE_HOST=

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/backends_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=backends_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_SECONDS=604800
JWT_REFRESH_EXPIRES_SECONDS=604800

RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
USER_QUEUE=user_queue
TUTOR_QUEUE=tutor_queue
THIRD_QUEUE=third_queue

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8888/auth/google/callback
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:3000/oauth/callback
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
BACKEND_URL=http://localhost:8888
